<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">File Manager</a>
  <button class="navbar-toggler"
    type="button"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleVisible()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse"
    id="navbarSupportedContent"
    [ngClass]="{ 'show': expanded }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/home']"
          routerLinkActive="active">
          Home
        </a>
      </li>
    </ul>
    <ul class="navbar-nav flex-row">
      <li class="nav-item dropdown"
        [ngClass]="{ 'show': showUserMenu }"
        (appClickOutside)="showUserMenu = false">
        <a class="nav-link dropdown-toggle"
          href="javascript:;"
          (click)="showUserMenu = !showUserMenu"
          [ngClass]="{ 'show': showUserMenu }">User</a>
        <div class="dropdown-menu dropdown-menu-right bg-white"
          [ngClass]="{ 'show': showUserMenu }">
          <a class="dropdown-item"
            href="javascript:;"
            (click)="logout()">
            Logout
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
