/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min';
@import '~bootstrap/scss/bootstrap.scss';

.ng-dirty.ng-invalid:not(form) {
  @extend .is-invalid;
}

.collapse {
  display: block !important;
  transition: height .35s ease;
  height: 0;
  overflow: hidden;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    height: auto;
    overflow: visible;
  }
}
