<app-alert-outlet></app-alert-outlet>
<div class="d-flex justify-content-center mt-3 p-3">
  <div class="card">
    <div class="card-header">
      <h2>Login</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label for="name">Username</label>
          <input type="text" class="form-control" id="name" formControlName="username">
          <div class="invalid-feedback"
            *ngIf="loginForm.controls.username.errors?.required">
            required
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="text" class="form-control" id="password" type="password" formControlName="password">
          <div class="invalid-feedback"
            *ngIf="loginForm.controls.password.errors?.required">
            required
          </div>
        </div>
        <button type="submit"
          class="btn btn-primary"
          [disabled]="loginForm.invalid"
          >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
